@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

html, body, [class*="css"] {
    font-family: 'Fredoka', sans-serif;
    color: #000000;
}

.bloque-capibara {
    background-color: #FDF5E6;
    border: 2px solid #4A3B2A;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

/* TODO TU CSS COMPLETO */
