/* INPUTS LEGIBLES */
.stSelectbox > div,
.stNumberInput > div {
    background-color: #FFFFFF !important;
    border-radius: 8px;
}

/* KPI */
.kpi-box {
    background-color: #FFFFFF;
    border: 2px solid #4A3B2A;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}

.kpi-valor {
    font-size: 22px;
    font-weight: 900;
    color: #2B1E14;
}

.kpi-valor.verde {
    color: #2E8B57;
}
