/* Fondo global de la app */
.stApp {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Quitar fondo blanco de Streamlit */
[data-testid="stAppViewContainer"] {
    background: transparent;
}
